<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ensamblaje">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00321786875047739 -0.00080823158724886 0.0424007680273217"
        rpy="0 0 0" />
      <mass
        value="0.383794460088106" />
      <inertia
        ixx="0.000354975707917724"
        ixy="-1.7919991807758E-12"
        ixz="-3.95038228361589E-05"
        iyy="0.000414666833301106"
        iyz="8.90409246037251E-09"
        izz="0.000335836085277629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ensamblaje/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ensamblaje/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="brazo_link">
    <inertial>
      <origin
        xyz="0.110910810359528 0.00167888740427664 -0.0088532725179314"
        rpy="0 0 0" />
      <mass
        value="0.445149570388111" />
      <inertia
        ixx="0.000268565645830726"
        ixy="-3.48386010757427E-05"
        ixz="1.17075736704278E-05"
        iyy="0.00257429414297316"
        iyz="1.67803960927524E-07"
        izz="0.00282337429369454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ensamblaje/meshes/brazo_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ensamblaje/meshes/brazo_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="brazo_joint"
    type="revolute">
    <origin
      xyz="0 0 0.12215"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="brazo_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="antebrazo_link">
    <inertial>
      <origin
        xyz="-0.0919762631074414 -1.31838984174237E-16 -0.007615692560218"
        rpy="0 0 0" />
      <mass
        value="0.366545541087837" />
      <inertia
        ixx="0.000254964409338932"
        ixy="-3.03910698199432E-18"
        ixz="-2.60495494155618E-06"
        iyy="0.00237440195054652"
        iyz="-5.92175499929236E-21"
        izz="0.00261557035322773" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ensamblaje/meshes/antebrazo_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ensamblaje/meshes/antebrazo_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="antebrazo_joint"
    type="revolute">
    <origin
      xyz="0.214 0.0032298 -0.02445"
      rpy="0 0 -3.1416" />
    <parent
      link="brazo_link" />
    <child
      link="antebrazo_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="efector_link">
    <inertial>
      <origin
        xyz="0 6.93889390390723E-18 0.0410590553923853"
        rpy="0 0 0" />
      <mass
        value="0.0259619449019234" />
      <inertia
        ixx="1.51830535770683E-05"
        ixy="3.70576914423756E-22"
        ixz="-6.00169316943221E-22"
        iyy="1.50430535770683E-05"
        iyz="-1.26500021014201E-21"
        izz="1.67809724509617E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ensamblaje/meshes/efector_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ensamblaje/meshes/efector_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="efector_joint"
    type="prismatic">
    <origin
      xyz="-0.215 0 0.055"
      rpy="3.1416 0 0.046478" />
    <parent
      link="antebrazo_link" />
    <child
      link="efector_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>